{% extends 'pages/base.html' %}
{% block title %} {{title}} {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}
{% block content %}
<div class="container">
    <div class="text-center">
        <p class="lead"><span class="fw-bold">Email:</span> {{email}}</p>
        <p class="lead"><span class="fw-bold">Address:</span> {{address}}</p>
        <p class="lead"><span class="fw-bold">Phone:</span> {{phone}}</p>
    </div>
    <div class="row">
        <div class="col-lg-4 ms-auto">
            <p class="lead">{{description}}</p>
        </div>
        <div class="col-lg-4 me-auto">
            <p class="lead">{{author}}</p>
        </div>
    </div>
</div>
{% endblock %}